// Mixins Here

// border radius mixin
.border-radius(@radius) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.button-alignment() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// button styles
.btn-designs(@width: 200px, @height: 50px, @bgcolor: gray, @font-color: black, @font-size: 1.8rem) {
    width: @width;
    height: @height;
    background-color: @bgcolor;
    color: @font-color;
    font-size: @font-size;
    .border-radius(5px);
    .button-alignment();
    cursor: pointer;
    margin: 20px 0;

    &:hover {
        color: @bgcolor;
        background-color: @font-color;
    }

}

